@tailwind base;
@tailwind components;
@tailwind utilities;

/* Design tokens */
:root {
    --bg: #ffffff;
    --text: #333333;
    --accent: #92b788;
}

@media (prefers-color-scheme: dark) {
    :root {
        /* Dark Mode */
        --bg: #2c322e; /* Deep Forest */
        --text: #e1e1de; /* Light Stone */
        --accent: #92b788; /* Moss Green */
    }
}

body {
    @apply bg-[color:var(--bg)] text-[color:var(--text)] leading-relaxed font-sans;
}

a {
    @apply text-[color:var(--accent)] hover:underline;
}
